<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GoogleDriveApplicationName" value="ESamhasho" />
    <add key="securityKey" value="db3OIsj+BXE9NZDy0t8W3TcNekrF+2d/1sFnWG4HnV8TZY30iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
    <add key="GoogleDriveFolderId" value="14UMzjREVhx0KsgqBjTM3-f3hpRXFyjwn" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Default" maxReceivedMessageSize="2000000000" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="Default" maxReceivedMessageSize="2000000000" />
        <binding name="Default1" maxReceivedMessageSize="2000000000" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.UserService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.IUserService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.IUserService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.ProductService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.IProductService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.IProductService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.IProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.AuthenticationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.IAuthenticationService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.IAuthenticationService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.IAuthenticationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.BlogService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.IBlogService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.IBlogService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.IBlogService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.CatergoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.ICatergoryService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.ICatergoryService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.ICatergoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SamhashoServiceBehaviour" name="SamhashoService.NotificationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="SamhashoService.INotificationService" />
        <endpoint address="json" behaviorConfiguration="webJsonBehavior" binding="webHttpBinding" bindingConfiguration="Default" contract="SamhashoService.INotificationService" />
        <endpoint address="xml" behaviorConfiguration="webXmlBehavior" binding="webHttpBinding" bindingConfiguration="Default1" contract="SamhashoService.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webJsonBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="webXmlBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Xml" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SamhashoServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="SecurityModuleConnectionString" connectionString="Server=(localdb)\ProjectsV13;Database=ESamhasho;Data Source=(localdb)\ProjectsV13;Persist Security Info=True;Initial Catalog=ESamhasho;Min Pool Size=5;Max Pool Size=160;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ESamhashoEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=ESamhasho;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>